@charset "UTF-8";
/* CSS Document */

html {
	background-color:#000;
}
#container {
	width:100%;
	height:auto;
	margin:0 auto;
	/*background-color:#3FC;*/
}
/*----------------------------------------------------------------------------------------------*/
/* header */
/*----------------------------------------------------------------------------------------------*/	
.warpper{ width: 640px;}
nav{ width: 640px;}
header {
height: 250px;
	background-color: #022777;
	background-image: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: right 0;
	background-size: cover;
	background-size: 100% 250px;
	width: 100%;
}
#contexte_02 {
	display:block;
}
#contexte_01, #contexte_03 {
	display:none;
}
/*----------------------------------------------------------------------------------------------*/
/* navigation */
/*----------------------------------------------------------------------------------------------*/	
nav ul li a {
	border-right: 1px solid #631b88;
	border-bottom: 1px solid #631b88;
}
/*----------------------------------------------------------------------------------------------*/
/* content_01, content_02 */
/*----------------------------------------------------------------------------------------------*/	
#content_01 {
	width:280px;
	padding: 20px 20px 0 20px;
}
#content_02 {
	width: 300px;
}
.content_01_block {
	width: 280px;
	margin: 0 0 20px 0;
	padding: 0 0 15px 0;
	/*background-color:#990;*/
}
.content_01_block span {
	background-color: rgba(196,112,243,.20);  
}
/*----------------------------------------------------------------------------------------------*/
/* liens et dégradés */
/*----------------------------------------------------------------------------------------------*/	
nav ul li a,
nav ul li a:visited,
.content_01_block a,
.content_01_block a:visited {
	behavior: url(PIE.php);
	/*----------------------------------------------------------------------------------------------*/
	/* box gradient */
	/*----------------------------------------------------------------------------------------------*/	
	/* Fallback */
	background-color:#c470f3;
	/* Old browsers */
	background: #c470f3;
	/* FF3.6+ */
	background: -moz-linear-gradient(top, #c470f3 0%, #631b88 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c470f3), color-stop(100%,#631b88));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #c470f3 0%,#631b88 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #c470f3 0%,#631b88 100%);
	/* IE10+ */
	background: -ms-linear-gradient(top, #c470f3 0%,#631b88 100%);
	/* W3C */
	background: linear-gradient(to bottom, #c470f3 0%,#631b88 100%);
	/* IE6-8 */
	-pie-background: linear-gradient(bottom, #631b88 0%, #c470f3 100%);
}

nav ul li a:hover,
.content_01_block a:hover,
.content_01_block a:active {
	behavior: url(PIE.php);
	/*----------------------------------------------------------------------------------------------*/
	/* box gradient */
	/*----------------------------------------------------------------------------------------------*/	
	/* Fallback */
	background-color:#ba5cf1;
	/* Old browsers */
	background: #ba5cf1;
	/* FF3.6+ */
	background: -moz-linear-gradient(top, #ba5cf1 0%, #4d0277 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ba5cf1), color-stop(100%,#4d0277));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #ba5cf1 0%,#4d0277 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #ba5cf1 0%,#4d0277 100%);
	/* IE10+ */
	background: -ms-linear-gradient(top, #ba5cf1 0%,#4d0277 100%);
	/* W3C */
	background: linear-gradient(to bottom, #ba5cf1 0%,#4d0277 100%);
	/* IE6-8 */
	-pie-background: linear-gradient(bottom, #4d0277 0%, #ba5cf1 100%);
}