@charset "UTF-8";
/* CSS Document */

/*----------------------------------------------------------------------------------------------*/
/* all */
/*----------------------------------------------------------------------------------------------*/
* {
	font-family:"Myriad Pro", Helvetica, Arial, Geneva, sans-serif;
}
/*----------------------------------------------------------------------------------------------*/
/* reset */
/*----------------------------------------------------------------------------------------------*/
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption {
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
}
fieldset,iframe {
	border: none;
}
caption,th {
	text-align: left;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header,nav,#content_01,#content_02,p,.content_01_block,article,aside,hgroup,section,img,figure,figcaption,div,footer {
	display: block;
}
a, a:hover, a:active, a:visited {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
html {
	background-color: #000;
}
#bgd_body {
	width: 100%;
	height: 500px;
	display: block;
	position:fixed;
	bottom:0;
	z-index: 1;
}
#container {
	width:100%;
	height:auto;
	margin:0 auto;
	position:relative;
	z-index:2;
}

.warpper{ width: 940px; margin: 0 auto;}
/*----------------------------------------------------------------------------------------------*/
/* header */
/*----------------------------------------------------------------------------------------------*/	
header {
	height: 250px;
	background-color: #022777;
	background-image: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: right 0;
	background-size: cover;
	background-size: 100% 250px;
	width: 100%;
}
h1 {
	color: #fff;
	padding: 20px 0 0 25px;
	font-size:36px;
	/*----------------------------------------------------------------------------------------------*/
	/* text-shadow */
	/*----------------------------------------------------------------------------------------------*/
    text-shadow: 2px 2px 2px #202020;
}
#contexte_01 {
	display:block;
}
#contexte_02, #contexte_03 {
	display:none;
}
/*----------------------------------------------------------------------------------------------*/
/* navigation */
/*----------------------------------------------------------------------------------------------*/	
nav {
	width:940px;
	height:42px;
	display:block;
	position:relative;
	/*overflow:hidden;*/
	/*background-color:#0CC;*/
	margin: 0 auto;
}
nav ul {
	width: 100%;
	display: table;
	table-layout: fixed;
}
nav ul li {
	display: table-cell;
}
nav ul li a {
	width: 100%;
	line-height:40px;
	display:inline-table;
	text-align: center;
	border: 1px solid #FFF;
	border-right: 1px solid #022777;
	border-bottom: 1px solid #022777;
	font-size:14px;
}
nav ul li:first-child a {
	border-left: none;
}
nav ul li:last-child a {
	border-right: none;
}
/*----------------------------------------------------------------------------------------------*/
/* content_01, content_02 */
/*----------------------------------------------------------------------------------------------*/	
#content_01 {
	width:600px;
	display:block;
	float:left;
	position:relative;
	padding: 20px 0 0 20px;
	margin-top: 20px;
}
#content_02 {
	width: 300px;
	float: left;
	position: relative;
	padding: 20px 0 20px 20px;
}
#content_01,
#content_02 p {
	background-color:#fff;
	box-shadow:1px 2px 4px #fff;
	-moz-box-shadow:1px 2px 4px  #fff;
	-webkit-box-shadow:1px 2px 4px  #fff;
}
p {
	margin:0 0 20px 0;
	font-size:13px;
}
#content_01 p {
	padding:15px;
	margin: 0 0 15px 0;
	background-color: rgba(0,0,0,0.10);
	border-top: 1px solid #FFF;
}
#content_02 p {
	padding:20px;
}
.content_01_block {
	display:block;
	float: left;
	position:relative;
	width: 280px;
	min-height: 300px;
	margin: 0 20px 20px 0;
	padding: 0 0 15px 0;
	background-color: #ccc;
	/*----------------------------------------------------------------------------------------------*/
	/* border radius [ Emulation CSS3 for IE 7-8-9 with PIE ] */
	/*----------------------------------------------------------------------------------------------*/	
	behavior: url(PIE.php);
	border-radius: 0 20px 0 20px;
	-moz-border-radius: 0 20px 0 20px;
	-khtml-border-radius: 0 20px 0 20px;
	-webkit-border-radius: 0 20px 0 20px;
}
.content_01_block img {
	display:block;
	border-bottom: 1px solid #888;
}
.content_01_block span {
	display:block;
	position:absolute;
	width:140px;
	height:160px;
	background-color: rgba(112,159,243,.30);  
	z-index:10;
}
/*----------------------------------------------------------------------------------------------*/
/* liens et dégradés */
/*----------------------------------------------------------------------------------------------*/	
.content_01_block a,
.content_01_block a:visited {
	/*----------------------------------------------------------------------------------------------*/
	/* global */
	/*----------------------------------------------------------------------------------------------*/
	display: block;
	float: left;
	position: relative;
	margin-left: 15px;
	padding: 8px 14px 6px 14px;
	text-align: left;
	color: #fff;
	font-size:13px;
	font-style:italic;
	border-bottom: 1px solid #9a9a9a;
	/*----------------------------------------------------------------------------------------------*/
	/* text-shadow */
	/*----------------------------------------------------------------------------------------------*/
    text-shadow: 0px -1px 2px #202020;
	/*----------------------------------------------------------------------------------------------*/
	/* border radius [ Emulation CSS3 for IE 7-8-9 with PIE ] */
	/*----------------------------------------------------------------------------------------------*/	
	behavior: url(PIE.php);
	border-radius: 0 10px 0 10px;
	-moz-border-radius: 0 10px 0 10px;
	-khtml-border-radius: 0 10px 0 10px;
	-webkit-border-radius: 0 10px 0 10px;
	/*----------------------------------------------------------------------------------------------*/
	/* box shadow */
	/*----------------------------------------------------------------------------------------------*/	
	box-shadow:1px 2px 3px rgba(0,0,0,.60);
	-moz-box-shadow:1px 2px 3px rgba(0,0,0,.60);
	-webkit-box-shadow:1px 2px 3px rgba(0,0,0,.60);
}
nav ul li a,
nav ul li a:visited,
.content_01_block a,
.content_01_block a:visited {
	behavior: url(PIE.php);
	/*----------------------------------------------------------------------------------------------*/
	/* box gradient */
	/*----------------------------------------------------------------------------------------------*/	
	/* Fallback */
	background-color:#709ff3;
	/* Old browsers */
	background: #709ff3;
	/* FF3.6+ */
	background: -moz-linear-gradient(top, #709ff3 0%, #1b4088 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#709ff3), color-stop(100%,#1b4088));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #709ff3 0%,#1b4088 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #709ff3 0%,#1b4088 100%);
	/* IE10+ */
	background: -ms-linear-gradient(top, #709ff3 0%,#1b4088 100%);
	/* W3C */
	background: linear-gradient(to bottom, #709ff3 0%,#1b4088 100%);
	/* IE6-8 */
	-pie-background: linear-gradient(bottom, #1b4088 0%, #709ff3 100%);
}
.content_01_block a:active {
	/*----------------------------------------------------------------------------------------------*/
	/* box shadow */
	/*----------------------------------------------------------------------------------------------*/	
	box-shadow:0px 1px 3px rgba(0,0,0,.60);
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,.60);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,.60);
}

nav ul li a {
	color:#FFF;
	/*----------------------------------------------------------------------------------------------*/
	/* text-shadow */
	/*----------------------------------------------------------------------------------------------*/
    text-shadow: 0px -1px 2px #202020;
}


nav ul li a:hover,
nav ul li a:active,
nav ul li a:visited {
	color:#ccc;
	/*----------------------------------------------------------------------------------------------*/
	/* text-shadow */
	/*----------------------------------------------------------------------------------------------*/
    text-shadow: none;
}