<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WEB_APP_labo" version="3.0">
  <display-name>labo Forum</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  
  <!-- / route -->
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>be.technofutur.labo.servlets.IndexServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- /forum route -->
  <servlet>
    <servlet-name>ForumServlet</servlet-name>
    <servlet-class>be.technofutur.labo.servlets.ForumServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ForumServlet</servlet-name>
    <url-pattern>/forum</url-pattern>
  </servlet-mapping>
  
</web-app>