<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WEB_APP_labo" version="3.0">
  <display-name>labo Forum</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
 
 <!-- Filter access --> 
 

  <filter>
    <display-name>AccessFilter</display-name>
    <filter-name>AccessFilter</filter-name>
    <filter-class>be.technofutur.labo.servlets.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/response.do</url-pattern>
    <url-pattern>/create.do</url-pattern>
    <url-pattern>/endsession.do</url-pattern>
  </filter-mapping>
  
  <!-- Filter statistics --> 
 

  <filter>
    <display-name>StatisticsFilter</display-name>
    <filter-name>StatisticsFilter</filter-name>
    <filter-class>be.technofutur.labo.servlets.StatisticsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StatisticsFilter</filter-name>
    <url-pattern>/response.do</url-pattern>
    <url-pattern>/create.do</url-pattern>
    <url-pattern>/subject.do</url-pattern>
  </filter-mapping>
	
  <!-- app servlets -->
 
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>be.technofutur.labo.servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForumServlet</servlet-name>
    <servlet-class>be.technofutur.labo.servlets.ForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumServlet</servlet-name>
    <url-pattern>/forum.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>be.technofutur.labo.servlets.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/subject.do</url-pattern>
  </servlet-mapping>
  
  <!-- post servlet -->
  <servlet>
    <description></description>
    <display-name>CreateTopicServlet</display-name>
    <servlet-name>CreateTopicServlet</servlet-name>
    <servlet-class>be.technofutur.labo.servlets.CreateTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTopicServlet</servlet-name>
    <url-pattern>/create.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PostMessageServlet</display-name>
    <servlet-name>PostMessageServlet</servlet-name>
    <servlet-class>be.technofutur.labo.servlets.PostMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostMessageServlet</servlet-name>
    <url-pattern>/response.do</url-pattern>
  </servlet-mapping>
</web-app>