/* déclaration de base*/

.fredokaFont{ font-family: 'Fredoka One', cursive;}
.cookieFont{ font-family: 'Cookie', cursive;}
.cl{ clear: both;}

/* Effets sur les liens*/

a, a:hover {
-webkit-transition-duration: 0.5s;
-webkit-transition-property: color;
-moz-transition-duration: 0.5s;
-moz-transition-property: color;
-ms-transition-duration: 0.5s;
-ms-transition-property: color;
-o-transition-duration: 0.5s;
-o-transition-property: color;
transition-duration: 0.5s;
transition-property: color;
}
 
 body{
background-color: #eff0e9;
font-family: 'Overlock', cursive;
color: #69696c;
font-size: 12px;
 }


 /*/////////////////////////////////////////////////////////////////////
2 / HEADER
/////////////////////////////////////////////////////////////////////*/
 
header{
height:605px;
background:url(../images/bg-header.gif) top center no-repeat;
}
 
#headContent{
width:960px;
margin:0 auto;
position:relative;
}
 
/*-----Liens du haut de page----*/
#topLinks{
width:350px;
float:right;
padding:20px 0 0 0;
}
#topLinks li{
display:inline;
text-align:right;
margin:0 0 0 20px;
font-weight:400;
}
 
#topLinks span{
margin:0 5px 0 0;
}
 
#topLinks li img{
vertical-align:top;
}
 
#topLinks a{
text-decoration:none;
color:#69696c;
}
 
#topLinks a:hover, #topLinks a:visited, #topLinks a:focus{
color:#e84743;
}
 
#topLinks #panier{
font-weight:700;
}
 
#topLinks img{
margin:0 5px 0 0;

}
/*-----Logo Fine Cookies----*/
 
#logo{
width:177px;
display:block;
margin:0 auto;
position:relative;
top:10px;
z-index:2;
}
/*--Léger mouvement animé au survol du logo---*/
 
#logo:hover{
top:15px;
}
 
#logo, #logo:hover{
-webkit-transition-duration: 0.5s;
-webkit-transition-property:top;
-moz-transition-duration: 0.5s;
-moz-transition-property: top;
-ms-transition-duration: 0.5s;
-ms-transition-property: top;
-o-transition-duration: 0.5s;
-o-transition-property: top;
transition-duration: 0.5s;
transition-property: top;
}
 
/*---Menu principal------*/
nav{
position:absolute;
top:45px;
font-size:14px;
color:#29888c;
text-transform:uppercase;
background:url(../images/ombre-nav.png) bottom center no-repeat;
padding:0 0 8px 0;
 
}
 
nav ul{
padding:20px;
width:920px;
background:url(../images/pat-menu.gif);
border-bottom:1px solid #959789;
border-radius:4px;
 
}
 
nav ul li{
display:inline;
padding:0 14px 0 0;
margin:0 14px 0 0;
background:url(../images/img-sep.png) right center no-repeat;
}
 
nav ul li:last-child {
background:none;
padding:0;
margin:0;
}
 
nav ul #navFirst{
background:none;
}
 
nav ul #navSecond{
padding:0 14px 0 0;
margin:0 14px 0 270px;
background:url(../images/img-sep.png) right center no-repeat;
}
 
nav a{
color:#29888c;
text-decoration:none;
}
 
nav a:hover{
color:#e84743;
}

/*/////////////////////////////////////////////////////////////////////
3 / BLOC VISUEL ACCROCHE
/////////////////////////////////////////////////////////////////////*/
 
/*---Bloc contenant global---*/
#bigVisuel{
width:960px;
height:480px;
margin:0 auto;
background:url(../images/img-planche.png) bottom center no-repeat;
}
 
/*---Visuel tour de cookie---*/
 
#cookieTour{
display:block;
float:left;
width:330px;
margin:0 0 0 60px;
}
 
/*---Texte de complet du visuel---*/
#infosVisu{
width:515px;
float:right;
padding:55px 0 0 20px;
position:relative;
}
 
#infosVisu h1{
font-size:72px;
color:#e84743;
text-transform:uppercase;
line-height:40px;
}
 
#infosVisu h1 span{
font-size:53px;
color:#eea914;
text-transform:none;
}
 
#infosVisu p{
font-size:14px;
font-weight:400;
width:500px;
padding:0 0 0 8px;
line-height:16px;
}
 
/*----Pepites Choco----*/
 
#pepites{
position:absolute;
top:216px;
display:block;
width:191px;
}
 
/*--Bouton J'en profite---*/
 
#btnGoCart{
display:block;
position:absolute;
left:253px;
top:217px;
width:182px;
height:27px;
text-decoration:none;
text-transform:uppercase;
color:#FFF;
font-size:13px;
padding:13px 0 0 50px;
background:url(../images/btn-gocart.png) no-repeat;
}

/*/////////////////////////////////////////////////////////////////////
4 / CONTENU DU SITE
/////////////////////////////////////////////////////////////////////*/
 
#content{
border-top:1px solid #cacbc0;
background-color:#FFF;
padding:0 0 100px 0; /*--Pour gèrer le logo du bas--*/
}

/*/////////////////////////////////////////////////////////////////////
Ligne nouveaux produits
/////////////////////////////////////////////////////////////////////*/
 
#nouveauxProduits{
width:960px;
margin:0 auto;
padding:40px 0;
}
 
#nouveauxProduits h2{
font-size:20px;
color:#e84743;
text-align:center;
text-transform:uppercase;
background:url(../images/sep-titre-rouge.jpg) center repeat-x;
margin:0 0 10px 0;
}
 
/*---Astuce pour afficher correctement le fond double trait---*/
#nouveauxProduits h2 span{
background-color:#FFF;
padding:0 10px;
}
 
/*---Style des blocs de produits---*/
#nouveauxProduits article{
float:left;
width:220px;
text-align:center;
font-size:14px;
margin:0 20px 0 0;
}
 
#nouveauxProduits article img{
border-bottom:1px solid #e84743;
width:220px; /*--On force l'image en CSS à 220px de large,
mais lors de la dynamisation c'est à redimensionner avec un script--*/
}
 
#nouveauxProduits article img:hover{
border-bottom:1px solid #981b18;
}
 
#nouveauxProduits article h3{
color:#e84743;
font-size:16px;
margin:5px 0 15px 0;
}
 
#nouveauxProduits article h3 a{
color:#e84743;
text-decoration:none;
}
 
#nouveauxProduits article h3 a:hover{
color:#EEA914;
}
 
#nouveauxProduits .prix{
font-weight:700;
margin:0 0 15px 0;
}
 
#nouveauxProduits .prix a{
font-size:15px;
color:#FFF;
background-color:#e84743;
padding:5px;
text-decoration:none;
}
 
#nouveauxProduits .prix a:hover{
color:#FFF;
background-color:#EEA914;
}

/*/////////////////////////////////////////////////////////////////////
Présentation de l'entreprise
/////////////////////////////////////////////////////////////////////*/
#presFinecookie{
background:url(../images/bg-down-arrow.jpg) #e84743 top center no-repeat;
/*-Wrapper principal rouge-*/
}
 
#presInt{
width:960px;
margin:0 auto;
padding:35px 0 0 0;
position:relative;
/*-Pour ensuite placer les flèches--*/
}
 
/*-Titre principal---*/
#presInt h2{
font-size:22px;
color:#FFF;
text-align:center;
margin:0 0 20px 0;
}
 
#presInt h2 span{
color:#eea914;
text-transform:uppercase;
margin:0 0 0 8px;
}
 
/*--Mise en page des blocs---*/
 
#presInt article{
width:220px;
float:left;
margin:0 20px 50px 0;
position:relative; /*-Pour ensuite placer la bulle du numéro--*/
text-align:center;
color:#FFF;
}
 
#presInt article h4{
font-size:16px;
margin:25px 0 15px 0;
}
 
#presInt .number{
font-size:18px;
display:block;
width:39px;
height:31px;
background:url(../images/icon-bulle-num.png) no-repeat;
padding:8px 0 0 0;
position:absolute; /*--Placement facile sur l'image du dessus--*/
top:195px;/*--Mesuré sur la maquette PSD---*/
left:97px; /*--Mesuré sur la maquette PSD---*/
z-index:2; /*--Les chiffres restent sélectionnables--*/
}
 
#presInt article p{
font-size:14px;
}
 
/*--Fleches entre les arguments---*/
.fleches{
position:absolute;
width:554px;
height:36px;
background:url(../images/sprite-fleches.png) no-repeat;
top:260px;
left:180px;
z-index:0;    /*--Mise à l'arrière plan au même niveau que les images--*/
}
 
/*---Fleche de "fermeture du bloc--*/
 
#downFleche{
background:url(../images/img-down-arrow-red.jpg) #FFF bottom center no-repeat;
height:11px;
margin:0 0 25px 0;
}

/*/////////////////////////////////////////////////////////////////////
5 / REMONTEE PRODUITS DU CATALOGUE
/////////////////////////////////////////////////////////////////////*/
#bottomPage{
width:960px;
margin:0 auto;
}
 
#catalogue{
width:480px;
float:left;
}
 
#catalogue h2{
color:#e84743;
font-size:19px;
text-transform:uppercase;
}

/*--Style des "petits" blocs de produits--*/
.produitMin{
float:left;
width:140px;
height:139px;
margin:0 20px 20px 0;
border-bottom:1px solid #e84743;
text-align:center;
color:#FFF;
position:relative;
overflow:hidden; /*--On cache ainsi l'onglet (hover Box) en bas du bloc--*/
}
 
.produitMin:hover{
border-bottom:1px solid #981b18;
}

/*--Positionnement de l'onglet d'infos--*/
.hoverBox{
width:140px;
height:40px;
background:url(../images/bg-hover-product-min.png) no-repeat;
padding:10px 0 0 0;
overflow:hidden;
position:absolute;
top:140px; /*--On place le bloc en bas, pour qu'il soit caché
et ensuite le faire apparaître au survol--*/
}
 
.hoverBox a{
text-decoration:none;
color:#FFF;
}
 
.hoverBox h3{
font-size:16px;
}
 
.hoverBox span{
font-size:14px;
}

/*--Gestion de l'animation de l'onglet ---*/
.produitMin:hover > .hoverBox{
top:90px;
}
 
.produitMin >.hoverBox, .produitMin:hover > .hoverBox{
-webkit-transition-duration: 0.5s;
-webkit-transition-property:top;
-moz-transition-duration: 0.5s;
-moz-transition-property: top;
-ms-transition-duration: 0.5s;
-ms-transition-property: top;
-o-transition-duration: 0.5s;
-o-transition-property: top;
transition-duration: 0.5s;
transition-property: top;
}

/*--Style des "gros" blocs de produits--*/
.produitBig{
float:left;
width:300px;
height:299px;
margin:0 20px 20px 0;
border-bottom:1px solid #e84743;
text-align:center;
color:#FFF;
position:relative;
overflow:hidden; /*--On cache ainsi l'onglet (hover Box) en bas du bloc--*/
}
 
.produitMin:hover{
border-bottom:1px solid #981b18;
}
 
/*--Positionnement de l'onglet d'infos--*/
.bighoverBox{
width:300px;
height:53px;
background:url(../images/bg-hover-product-big.png) no-repeat;
padding:10px 0 0 0;
overflow:hidden;
position:absolute;
top:270px;  /*--On place le bloc en bas, pour qu'il soit caché
et ensuite le faire apparaître au survol--*/
}
 
.bighoverBox a{
text-decoration:none;
color:#FFF;
}
 
.bighoverBox h3{
font-size:16px;
}
 
.bighoverBox span{
font-size:14px;
}
 
/*--Gestion de l'animation de l'onglet ---*/
.produitBig:hover > .bighoverBox{
top:0px;
}
 
.produitBig >.bighoverBox, .produitBig:hover > .bighoverBox{
-webkit-transition-duration: 0.5s;
-webkit-transition-property:top;
-moz-transition-duration: 0.5s;
-moz-transition-property: top;
-ms-transition-duration: 0.5s;
-ms-transition-property: top;
-o-transition-duration: 0.5s;
-o-transition-property: top;
transition-duration: 0.5s;
transition-property: top;
}

/*---Lien catalogue pour en savoir plus----*/
 
#catLink{
background:url(../images/btn-voir-catalogue.png) no-repeat;
width:140px;
height:20px;
display:block;
color:#FFF;
font-size:13px;
text-align:center;
text-decoration:none;
padding:6px 0 0 0;
float:right;
margin:0 20px 0 0;
}

/*/////////////////////////////////////////////////////////////////////
6 / COLONNE AVANTAGES
/////////////////////////////////////////////////////////////////////*/
 
#avantages{
width:480px;
float:right;
}
 
#avantages h5{
font-size:35px;
color:#eea914;
text-align:center;
background:url(../images/sep-titre-orange.jpg) center repeat-x;
margin:0 0 10px 0;
}
 
/*---Astuce pour afficher correctement le fond double trait---*/
#avantages h5 span{
background-color:#FFF;
padding:0 10px;
}

/*---Style d'un bloc d'avantages----*/
#avantages li{
width:129px;
padding:0 5px;
height:341px;
float:left;
margin:0 20px 0 0;
text-align:center;
display:block;
position:relative;
background:url(../images/bg-etiquette.jpg) no-repeat;
}
 
#avantages li h6{
font-size:15px;
text-transform:uppercase;
margin:60px 0 30px 0;
color:#29888c;
line-height:18px;
}
 
#avantages ul li a{
position:absolute; /*Pour que le lien soit toujours placé
en bas même si le titre h6 est plus long*/
bottom:50px;
display:block;
text-align:center;
width:129px;
font-size:12px;
color:#e84743;
}
 
#avantages ul li a:hover{
color:#eea914;
}

/*/////////////////////////////////////////////////////////////////////
7 / BLOCS RESEAUX SOCIAUX
/////////////////////////////////////////////////////////////////////*/
 
#socialBox{
margin:20px 0 0 0;
}
 
#socialBox a{
display:block;
width:120px;
height:55px;
float:left;
padding:30px 20px 0 80px;
border-radius:4px;
font-size:14px;
text-transform:uppercase;
color:#FFF;
text-decoration:none;
}
 
#socialBox #fbLien{
background:url(../images/icon-facebook.png) 25px 20px #3b5998 no-repeat;
margin:0 20px 0 0;
}
 
#socialBox #twitterLien{
background:url(../images/icon-twitter.png) 20px 25px #00aced no-repeat;
}

/*/////////////////////////////////////////////////////////////////////
8 / FOOTER
/////////////////////////////////////////////////////////////////////*/
 
/*--Barre de bois + logo----*/
#preFoot{
background:url(../images/img-planche-footer.jpg) 0 50px repeat-x;
position:relative;
top:-50px;
margin:0 0 -100px 0;
}
 
#preFoot img{
display:block;
width:177px;
margin:0 auto;
}

/*---Footer---*/
 
footer{
background:url(../images/bg-rayures.jpg) repeat;
}
 
#footContent{
width:960px;
margin:0 auto;
text-align:center;
}
 
#address{
width:300px;
margin:0 auto;
border-radius:4px;
background:url(../images/bg-ombre-address.png) bottom center no-repeat;
padding:0 0 12px 0;
}
 
#address #bigText{
font-size:16px;
text-transform:uppercase;
font-weight:700;
margin:0 0 20px 0;
}
 
#address ul{
font-size:14px;
padding:70px 0 5px 0;
background:url(../images/pat-menu.gif) repeat;
}
 
#address ul li#tel{
margin:15px 0;
}

/*--Mentions légales----*/
 
#legal{
margin:30px 0 0 0;
padding:0 0 30px 0;
}
 
#legal p{
margin:0 0 2px 0;
}
 
#legal .bold{
font-weight:700;
}
 
#legal a{
color:#69696C;
text-decoration:none;
}
 
#legal a:hover, #legal a:visited, #legal a:focus{
color:#E84743;
}